.addButton {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 16px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--accent);
    border: none;
}