.container {
    position: relative;
    flex-shrink: 0;
    width: 315px;
    max-width: 315px;
    min-height: 40px;
    border: 1px solid var(--border);
    padding: 10px;
}

.textarea{
    width:100%;
    min-height:20px;
    overflow-wrap: break-word;
    -webkit-nbsp-mode: space;
    line-break: after-white-space;
    -webkit-user-modify: read-write-plaintext-only;
    color: var(--accent);
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    border: none;
    outline: 0px solid transparent;
    resize: none;
}

.error {
   border: 1px solid var(--red); 
}

.error::after {
    content: 'Text is required';
    position: absolute;
    left: 50%;
    top: 120%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    font-size: 12px;
    color: var(--red);
    text-align: center;
}